html {
  background-color: #37474f;  
  width: 100%;
  height: 100%;
  min-width: 1200px;
  min-height: 700px;
}
body {
  background-color: #37474f;  
  width: 99%;
  height: 98%;
}
.buttons {
  background-color: #f7b633; 
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 0.1%;
  margin-top: 2px;
  border-color:  #37474f;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  float: left;
  cursor: pointer;

}
.header {
  display: flex;
  background-color: #37474f;  
  color: rgb(255, 255, 255);
  margin-left: 0.1%;
  border-color: rgb(77, 63, 63);
  width: 99.8%;
  height: 15%;
}
.headerElement {
  background-color: #37474f;  
  color: rgb(255, 255, 255);
  margin-left: 0.1%;
  border-color:  #37474f;
  width: 19.9%;
  height: 100%;
  float: left;
  text-align: center;
}
#ss {
  background-color: #90a4ae; 
  color: rgb(255, 255, 255);
  margin-left: 0.1%;
  border-color:  #37474f;
  width: 100%;
  height: 80%;
  float: left;
  text-align: center;
}
#label {
  border-radius: 5px;
  background-color: rgb(12, 35, 110);
  color: rgb(255, 255, 255);
  margin-bottom: 1px;
  margin-top: 1px;
  border-color:  #37474f;
  width: 100%;
  text-align: center;
}
#chartLabel {
  font-weight: bold;
  border-radius: 5px;
  background-color: #f7b633;
  color: rgb(255, 255, 255);
  border-color:  #37474f;
  font-size: 100%;
  height: 20%;
  width: 100%;
  float: left;
  text-align: center;
}
.inputField { 
  background-color: #90a4ae; 
  width: 100%;
  height: 60px;
  margin: auto;
}
.inputAndCancel { 
  background-color: #90a4ae; 
  width: 60%;
  height: 100%;
  margin-left: 20%;
}
#eraseButton { 
  background-color: rgb(247, 4, 4);
  color: rgb(255.255,255);
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #cec857;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 50px;
  width: 7%;
  height: 90%;
  margin-top: 0.5%;
  float : left ;
}
.resultTable { 
  background-color: #90a4ae; 
  width: 100%;
  height: 80%;
  position: relative;
  height: auto;
}
.explorerResult { 
  background-color: rgb(112, 112, 112, 1);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#orders { 
  background-color: rgb(112, 112, 112, 1);
  width: 100%;
  
  margin-top: 15px;
}
.blockHeader { 
  background-color: rgb(112, 112, 112, 1);
  color: rgb(255, 255, 255);
  width: 50%;
  height: 40px;
  margin: auto;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.idHash { 
  background-color: rgb(112, 112, 112, 1);
  color: rgb(168, 154, 134);
  width: 50%;
  height: 35px;
  margin: auto;
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
  border-width: 3px;
}
.order { 
  background-color: rgb(112, 112, 112, 1);
  width: 80%;
  height: 250px;
  margin: auto;
  margin-bottom: 5px;
}
.orderInput { 
  background-color: rgb(144, 168, 56);
  width: 50%;
  height: 150px;
  width: 44%;
  position: relative;
  float : left ;
  font-size: 30px;
  text-align: center;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  border-radius: 5;
}
.orderArrow { 
  background-color: rgb(99, 135, 189);
  color: rgb(196, 96, 127);
  width: 10%;
  margin-left: 1%;
  margin-right: 1%;
  height: 150px;
  position: relative;
  float : left ;
  text-align: center;
  border-width: 5px;
  border-color: rgb(247, 245, 245);
  border-radius: 5;
  font-size: 20px;
}
.orderOutput { 
  background-color: rgb(164, 168, 56);
  color: rgb(42, 177, 177);
  width: 44%;
  height: 150px;
  position: relative;
  float : left ;
  font-size: 30px;
  text-align: center;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  border-radius: 5;
}
#sub1 {
  background-color: #90a4ae; 
  color: rgb(46, 62, 179);
  color: rgb(255, 255, 255);
  margin-bottom: 1px;
  margin-top: 0px;
  border-color:  #37474f;
  width: 100%;
  height: 50%;
  text-align: center;
  float: left;
  min-width: 230px;
}
#sub1Foto {
  background-color:#90a4ae; 
  color: rgb(255, 255, 255);
  margin-top: 0px;
  border-color:  #37474f;
  width: 20%;
  height: 100%;
  float: left;
}
#sub1Main {
  background-color: #90a4ae; 
  color: rgb(255, 255, 255);
  margin-bottom: 1px;
  margin-top: 0px;
  border-color:  #37474f;
  width: 80%;
  height: 100%;
  float: left;
}
#sub1Label {
  font-weight: bold;
  background-color: #f7b633;
  color: rgb(255, 255, 255);
  margin-bottom: 1px;
  margin-top: 0px;
  border-color:  #37474f;
  width: 100%;
  height: 35%;
}
#s1Body {
  background-color:#90a4ae; 
  color: rgb(255, 255, 255);
  width: 100%;
  height: 65%;
}
#heightBody {
  background-color:#90a4ae; 
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  font-size: 3ex;
}
#timeBody {
  background-color:#90a4ae; 
  color: rgb(255, 255, 255);
  height: 75%;
  width: 100%;
  line-height: 50px;
  font-size: 4ex;
}
#ft1 {
  background-color:#90a4ae; 
  width: 60%;
  height: 100%;
  border-radius: 15px;
}
#networkStats {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  border-color:  #37474f;
}
#blockTime {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
    width: 100%;
  border-color:  #37474f;
}
#mini {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
    width: 100%;
  border-color:  #37474f;
}
#mid {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
    width: 100%;

  border-color:  #37474f;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#big {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  
  width: 100%;
  height: 80%;
  float: left;
  text-align: center;
}
.mainPart {
  rgb(255, 255, 255);-color: #90a4ae; 
  color: rgb(255, 255, 255);
  border-color:  #37474f;
  width: 100%;
  height: 80%;
  margin-top: 2px;
  display: flex;

}
.menu {
  rgb(255, 255, 255);-color: #90a4ae; 
  color: rgb(255, 255, 255);
  border-color:  #37474f;

  width: 16.5%;
  height: 100%;
  float: left;
}
.result {
  rgb(255, 255, 255);-color: #90a4ae; 
  color: rgb(126, 87, 87);
  margin-top: 5px;
  padding-bottom: 5px;
  border-color:  #37474f;
  height: 100%;
  align-items: center;
  width: 83.5%;

}

#explorer {
  background-color: #f7b633; 
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 0.1%;
  margin-top: 2px;
  border-color:  #37474f;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  float: left;
  cursor: pointer;

}
#explorer1 {
  background-color:#f7b633; 
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 0.1%;
  margin-top: 2px;
  border-color:  #37474f;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  float: left;
  cursor: pointer;

}
#nodes {
  background-color: #f7b633; 
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 0.1%;
  margin-top: 2px;
  border-color:  #37474f;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  float: left;
  cursor: pointer;

}
#map {
  background-color: #f7b633; 
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-left: 0.1%;
  margin-top: 2px;
  border-color:  #37474f;

  border-radius: 10px;
  width: 100%;
  height: 30px;
  float: left;
  cursor: pointer;

}
#pools {
  background-color: #f7b633; 
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 0.1%;
  margin-top: 2px;
  border-color:  #37474f; 
  border-radius: 15px;
  width: 100%;
  height: 60px;
  float: left;
  cursor: pointer;
}
#CandA {
  background-color: #f7b633; 
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 0.1%;
  margin-top: 2px;
  border-color:  #37474f;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  float: left;
  cursor: pointer;
}
#blockWinners {
  background-color: rgb(20, 44, 177);
  color: rgb(255, 255, 255);
  font-size: 10px;
  margin-left: 0.1%;
  margin-top: 2px;
  border-color:  #37474f;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  float: left;
}
#wallets {
  background-color: rgb(20, 44, 177);
  color: rgb(255, 255, 255);
  font-size: 10px;
  margin-left: 0.1%;
  margin-top: 2px;
  border-color:  #37474f;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  float: left;
}
#table1 {
  background-color:#90a4ae; 
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  margin-left: 7px;
  border-color: rgb(230, 164, 126);
  border-width: 2px;
  border: 1px solid  #37474f;
  border-collapse: collapse;
  max-width: 100%;
  max-height: 500px;
  overflow: hidden;
}
tr {
  background-color: #607d8b;;
  color: rgb(8, 1, 1);
  border-left: 10px;
  border: 1px solid  #37474f;
  border-collapse: collapse;
}
th {
  background-color: #607d8b;   
  text-align: center;
  font-size: 20;
  color: white;
  padding: 10px;
  border-left: 10px;
  border: 1px solid  #37474f;
  border-collapse: collapse;
}
td {
  background-color: #90a4ae; 
  font-size: 10;
  padding: 1px;
  text-align: center;
  color: white;
  border-left: 10px;
  border: 1px solid  #37474f;
  border-collapse: collapse;
}
tr :hover {
  background-color :#607d8b;;
  color :rgb(255,255,255);
 }
.miniRadar {
  border-radius: 10px;
  background-color: #f7b633; 
  color: rgb(32, 96, 214);
  height: 210px;
  width: 100%;
  float: left;
}
.nodeMap {
  background-color: #90a4ae; 
  border-color: white;
  border-width: 5px;
  height: 600px;
  width: 49%;
  margin-left: 1%;
  margin-bottom: 20px;
  float: left;
}
#mapBox1 {
  background-color: #90a4ae; 
  border-radius: 40px;
  justify-content: center;
  height: 100%;
  width:100%;
  float: left;
}
#mapBox2 {
  background-color: #90a4ae; 
  border-radius: 40px;
  justify-content: center;
  height: 100%;
  width:100%;
  float: left;
}
#mapBox3 {
  background-color: #90a4ae;
  border-radius: 40px;
  justify-content: center;
  height: 100%;
  width:100%;
  float: left;
}
#mapBox4 {
  background-color: #90a4ae;
  border-radius: 40px;
  justify-content: center;
  height: 100%;
  width:100%;
  float: left;
}
#mapLabel {
  background-color: rgb(32, 96, 214);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 0.15%;
  margin-top: 0.15%;
  margin-bottom: 0.25%;
  border-color: white;
  border-width: 2;
  height: 16px;
  width: 99.7%;
  float: left;
  text-align: center;
}
#mapChart {
  background-color: rgb(248, 249, 250);
  color: rgb(214, 104, 104);
  height: 100%;
  width: 100%;
}
#midLabel {
  background-color: rgb(32, 96, 214);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 0.15%;
  margin-top: 0.15%;
  margin-bottom: 0.25%;
  height: 16px;
  width: 99.7%;
  float: left;
  text-align: center;
}
#midLabelChart {
  background-color: rgb(248, 249, 250);
  color: rgb(214, 104, 104);
  margin-bottom: 0.25%;
  border-color: white;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: 100%;
  float: left;
}
#bigLabel {
  background-color: rgb(32, 96, 214);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 0.15%;
  margin-top: 0.15%;
  margin-bottom: 0.25%;
  border-color: white;
  border-width: 2;
  height: 16px;
  width: 99.7%;
  float: left;
  text-align: center;
}
#bigLabelChart {
  background-color: rgb(248, 249, 250);
  color: rgb(214, 104, 104);
  border-bottom-right-radius: 10px;
  margin-bottom: 0.25%;
  border-color: white;
  height: 100%;
  width: 100%;
  float: left;
}
#miniPie {
  background-color: rgb(248, 249, 240);
  color: rgb(214, 104, 104);
  border-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  float: left;
}
#midPie {
  background-color: rgb(248, 249, 240);
  color: rgb(214, 104, 104);
  border-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  float: left;
}
#bigPie {
  background-color: rgb(248, 249, 240);
  color: rgb(214, 104, 104);
  border-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  float: left;
}
#radarPie {
  background-color: rgb(248, 249, 240);
  border-color: white;
  height: 99%;
  width: 15%;
  border-bottom-left-radius: 10px;
  float: left;
}
#radarBar {
  border-bottom-right-radius: 10px;
  background-color: rgb(52, 112, 172);
  color: rgb(214, 104, 104);
  border-color: white;
  height: 99%;
  width: 85%;
  float: left;
}
marquee {
  background-color: black;
  font-size: 13px;
  font-weight: 800;
  color: #f7b633; 
  font-family: sans-serif;
}
.poolCharts {
  background-color: #37474f;  
  border-color: white;
  border-width: 5px;
  height: 350px;
  width: 100%;
  margin-bottom: 5px;
}
.poolChartsM {
  background-color: #37474f;  
  border-color: white;
  border-width: 5px;
  height: 700px;
  width: 100%;
  margin-bottom: 5px;
}
#poolChart_0 {
  background-color: #37474f;  
  border-color: white;
  border-width: 5px;
  margin-left: 1%;
  height: 95%;
  width: 99%;
}
#poolChart_2 {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  margin-left: 1%;
  height: 100%;
  width:49%;
  float: left;
  border-radius: 20px;
}
#poolChart_4 {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  margin-left: 1%;
  height: 100%;
  width:32.3%;
  float: left;
  border-radius: 20px;
}
#poolChart1 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width:100%;
  border-radius: 20px;
}
#poolChart2 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width:100%;
  border-radius: 20px;
}
#poolChart11 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width:100%;
  border-radius: 20px;
}
#poolChart12 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width:100%;
  border-radius: 20px;
}
#poolChart13 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width:100%;
  border-radius: 20px;
}
#poolChart21 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width:100%;
  border-radius: 20px;
}
#menuCharts {
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  height: 150px;
  width:100%;
  border-radius: 15px;
  float: left;
}
.halfVerical {
  margin-top: 10px;
  background-color: #90a4ae; 
  height: 100%;
  width:49%;
  margin-left: 1%;
  border-radius: 5px;
  float: left;
}
.halfHorizontaly {
  background-color: #90a4ae; 
  height: 50%;
  width:100%;
  float: left;
}
#blockChart {
  height: 100%;
  width:100%;
}
#mnsChart {
  height: 100%;
  width:100%;
}
#posChart {
  height: 100%;
  width:100%;
}
#feesChart {
  height: 100%;
  width:100%;
}
#explorerBox {
  background-color:#37474f;  
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 15px;
  margin-top: 2px;
  border-color: rgb(84, 10, 10);
  border-radius: 15px;
  width: 98%;
  height: 40px;
  float: left;
  cursor: pointer;
}
#searchBox {
  height: 90%;
  width:70%;
  margin-left: 15%;
  font-size: 38px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  text-align: center;
}
#searchBox1 { 
  background-color: rgb(219, 217, 59);
  color: rgb(255.255,255);
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #f7b633; 
  font-size: 40px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  width: 90%;
  height: 90%;
  text-align: center; 
  line-height: 50px;
  float: left;
}

#newCounter {
  background-color: rgb(255, 255, 255);
  margin-top: 5px;
   margin-bottom: 5px;
  height: 200px;
  width:100%;
  border-radius: 15px;
}




